.container{
    width: 100%;
    max-width: var(--container-md);
    padding: .625rem;
}
body{
    background-color: gray;
}
.product-container{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
